<header class="navbar">
    <!-- Logo -->
    <div class="logo-container">
        <a href="/" class="logo-link">
            <img src="/images/medium-pastel-acephale-path-03.svg" alt="Logo" class="logo-image">
            <span class="logo-text">Currency Converter</span>
        </a>
    </div>
    <!-- Placeholder Links  -->
    <nav class="nav-container">
        <ul class="link-nav">
            <li><a href="#">Send Money</a></li>
            <li><a href="#">Converter</a></li>
            <li><a href="#">Currency API</a></li>
            <li><a href="#">Tools</a></li>
        </ul>
            </nav>

        <!-- Placeholder Authentication links -->
        <ul class="auth-nav">
            <li><a href="#">Sign In</a></li>
            <li><a href="#">Register</a></li>
        </ul>
</header>
