<!-- Exchange Rate Tables -->
<section class="conversion-rates hidden" id="conversion-rates">
    <!-- Left Rate Box -->
    <div class="rate-box">
        <div class="rate-header">
            <h3 id="rate-title-left">Convert</h3>
            <table class="header-table">
                <thead>
                    <tr class="flag-container">
                        <th>
                            <img class="rate-flags" id="from-flag-left" src="" alt="From Currency Flag"> 
                            <span id="rate-currency-from-left"></span>
                        </th>
                        <th>
                            <img class="rate-flags" id="to-flag-left" src="" alt="To Currency Flag"> 
                            <span id="rate-currency-to-left"></span>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
        <table class="rate-table">
            <tbody id="rate-table-body-left">
                <!-- Rows will be generated dynamically -->
            </tbody>
        </table>
    </div>
    <!-- Right Rate Box -->
    <div class="rate-box">
        <div class="rate-header">
            <h3 id="rate-title-right">Convert EURO to US Dollar</h3>
            <table class="header-table">
                <thead>
                    <tr class="flag-container">
                        <th>
                            <img class="rate-flags" id="from-flag-right" src="" alt="From Currency Flag"> 
                            <span id="rate-currency-from-right">EUR</span>
                        </th>
                        <th>
                            <img class="rate-flags" id="to-flag-right" src="" alt="To Currency Flag"> 
                            <span id="rate-currency-to-right">USD</span>
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
        <table class="rate-table">
            <tbody id="rate-table-body-right">
                <!-- Rows will be generated dynamically -->
            </tbody>
        </table>
    </div>
</section>